// app global css

// @import url("../lib/FontAwesome/less/font-awesome.styl")
//

@import 'themes/common.variables.styl'
@import 'InfiniteSelect'

*::-webkit-scrollbar
	height 10px
	width 10px

*::-webkit-scrollbar-thumb
	background-color rgba(0, 0, 0, .3)

html
	height 100%
	box-sizing border-box

body
	background #eee
	margin 0
	height 100%
	color $main-text-color
	//font-family 'Roboto', serif
	//font-weight normal
	//font-family 'Roboto', '-apple-system', 'Helvetica Neue', Helvetica, Arial, serif
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body.with-modal
	padding-right 0 noImportant

body.with-layout-side-opened
	overflow auto

.fade
	&-enter
		opacity 0
		&-active
			transition-property opacity
			transition-duration .3s
			transition-delay .3s
	&-leave
		&-to
			opacity 0



.fadeZoom
	&-enter
		opacity 0
		&-active
			transition all .7s ease-in-out
	&-leave
		&-active
			transition all .7s ease-in-out
		&-to
			opacity 0


.el
	&-loading-mask
		z-index 1000

	&-tabs
		&__item
			transition all .3s ease-in-out

	&-dialog
		min-width 400px

	&-card
		color $card-text-color
		display grid
		grid-template-rows min-content auto

		&__body
			display grid
			grid-auto-flow row
			.buttons
				align-self end

	&-button,
	&-checkbox
		transition all .3s ease-in-out
		span
			transition all .3s ease-in-out


	&-popover-empty
		padding 0
		box-shadow 0


.q
	&-item
		transition all .3s ease-in-out
		&:hover
			background $q-item-hover-background

		&-side
			&nth-child(3)
				font-weight bold
				text-align right



	&-list
		&-highlight
			.q-itemhover
				background $q-item-hover-background

	&-card
		background $q-card-backgroud

	&-layout-page
		height calc(100vh - 50px)
		//overflow scroll

	&-field-content > div::before
		transform scaleY(1.5)


.breadcrumb
	a
		transition all .3s ease-in-out
	&after,
	&before
		transition all .3s ease-in-out



/*
.layout
	height 100%
	&-page
		height 100%
		&-container
			height 100%
*/


.qCards
	display grid
	grid-template-columns repeat(auto-fill, minmax(500px, 1fr))

	@media screen and (max-width 650px)
		.qCards
			grid-template-columns repeat(auto-fill, minmax(320px, 1fr))


h2
	margin 0
	font-size 18px
	font-weight bold

h5
	margin 0

h6
	margin 5px 0

.spinner
	height 50px
	margin 40px auto
	display block

.infoGrid
	align-self start
	display grid
	grid-template-columns 1fr 1fr
	> div
		padding 15px 0
		&:not(.lc)
			border-bottom 1px solid $info-grid-delimiter-background

		&:nth-child(2n+1)
			font-weight bold



.separator
	&-v
		background $separator-background
		width 1px
		height 100%

	&-g
		background $separator-background
		width 100%
		height 1px


.hiddenNumber
	filter blur(5px)
	transition all .3s ease-in-out
	&:hover
		filter blur(0)
